<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label nzNoColon [nzSm]="4" nzFor="mention"></nz-form-label>
    <nz-form-control [nzSm]="16" nzErrorTip="Введи email">
      <nz-select
        formControlName="mention"
        nzMode="tags"
        nzPlaceHolder="Email пользователя"
        [nzLoading]="loadingFriendsList()"
      >
        @for (friend of suggestions(); track $index) {
        <nz-option [nzLabel]="friend" [nzValue]="friend"></nz-option>
        }
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>
