<nz-card [nzLoading]="loading()" nzTitle="Ваши друзья: {{ friends().length }}">
  <div nz-flex [nzGap]="20">
    @for (friend of friends(); track $index) {
    <nz-card>
      <nz-card-meta
        [nzAvatar]="avatarTemplate"
        [nzTitle]="friend.nickName ? friend.nickName : friend.email!"
        [nzDescription]="friend.nickName ? friend.email! : ''"
      ></nz-card-meta>
    </nz-card>
    }
  </div>
</nz-card>
<ng-template #avatarTemplate>
  <nz-avatar nzIcon="user"></nz-avatar>
</ng-template>
