<form [formGroup]="addTaskForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="taskTitle">Title</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="Please input the task title">
      <input nz-input formControlName="taskTitle" id="taskTitle" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="taskDescription"
      >Description</nz-form-label
    >
    <nz-form-control
      [nzSpan]="14"
      nzErrorTip="Please input the task description"
    >
      <input nz-input formControlName="taskDescription" id="taskDescription" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="taskStartTime">Start Time</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="Please select the start time">
      <nz-date-picker
        formControlName="taskStartTime"
        id="taskStartTime"
      ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="taskEndTime">End Time</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="Please select the end time">
      <nz-date-picker
        formControlName="taskEndTime"
        id="taskEndTime"
      ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <div class="modal-footer">
    <button nz-button nzType="default" (click)="cancel()">Cancel</button>
    <button
      nz-button
      nzType="primary"
      [disabled]="!addTaskForm.valid"
      type="submit"
    >
      Add Task
    </button>
  </div>
</form>
