<form [formGroup]="addTaskForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="task_title">Название</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="Please input the task title">
      <input nz-input formControlName="task_title" id="task_title" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="task_description"
      >Описание</nz-form-label
    >
    <nz-form-control
      [nzSpan]="14"
      nzErrorTip="Please input the task description"
    >
      <input
        nz-input
        formControlName="task_description"
        id="task_description"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="task_critical">Приоритет</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="Please select task priority">
      <nz-select formControlName="task_critical">
        <nz-option nzValue="LOW" nzLabel="Низкий"></nz-option>
        <nz-option nzValue="NORMAL" nzLabel="Обычный"></nz-option>
        <nz-option nzValue="HIGH" nzLabel="Высокий"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="task_start_time"
      >Дата начала</nz-form-label
    >
    <nz-form-control [nzSpan]="14" nzErrorTip="Please select the start time">
      <nz-date-picker
        formControlName="task_start_time"
        id="task_start_time"
      ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="task_end_time"
      >Дата окончания</nz-form-label
    >
    <nz-form-control [nzSpan]="14" nzErrorTip="Please select the end time">
      <nz-date-picker
        formControlName="task_end_time"
        id="task_end_time"
      ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
</form>
@if (data.members && data.members.length > 0) {
<div style="width: 100%; display: flex; align-items: center">
  <span nz-typography style="margin-right: 10px">Пользователи: </span>
  <nz-select nzMode="tags" nzDisabled="true" [(ngModel)]="data.members">
  </nz-select>
</div>
}
