<div class="container">
  @if (loading()) {
  <nz-spin nzSimple></nz-spin>
  } @else {
  <nz-card nzTitle="Profile">
    <div nz-flex nzGap="12px" class="profile-header" nzAlign="center">
      <nz-avatar [nzSize]="64" nzIcon="user"></nz-avatar>
      <div>
        <h2>{{ profile.nickName }}</h2>
        <h3>{{ profile.username }}</h3>
        <nz-upload
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          [nzHeaders]="{ authorization: 'authorization-text' }"
          (nzChange)="handleChange($event)"
        >
          <a>
            <span nz-icon nzType="upload">Change profile photo</span>
          </a>
        </nz-upload>
      </div>
    </div>
    <nz-descriptions [nzColumn]="1" nzTitle="User Info" nzBordered>
      <nz-descriptions-item nzTitle="First Name">{{
        profile.firstName
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Last Name">{{
        profile.lastName
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Username">{{
        profile.username
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Email">{{
        profile.email
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Id">{{ profile.id }}</nz-descriptions-item>
      @if (profile.friendList!.length > 0) {
      <nz-descriptions-item nzTitle="Friends">
        <ul style="list-style-type: none; padding: 0; margin: 0">
          @for (friend of profile.friendList; track $index) { @if (friend.status
          === 'ACCEPTED') {
          <li>
            <div style="display: flex; align-items: center">
              <span
                style="margin-right: 10px"
                nz-icon
                nzType="user"
                nzTheme="outline"
              ></span>
              <span>{{ friend.email }}</span>
            </div>
          </li>
          } @else if (friend.status === 'SENT') {
          <li>
            <div style="display: flex; align-items: center">
              <span
                style="margin-right: 10px"
                nz-icon
                nzType="sync"
                [nzSpin]="true"
              ></span>
              <span>{{ friend.email }}</span>
            </div>
          </li>
          } }
        </ul>
      </nz-descriptions-item>
      }
    </nz-descriptions>
  </nz-card>
  }
</div>
